<!DOCTYPE html>
<html>

    <%- include('layouts/header'); -%>

    <body>
        <main>
            <h2>This page is under construction.</h2>
            <p><a href="viewMenu">Return to View Menu page.</a></p>
        </main>
    </body>
    
</html>