/* This is class to show validation in labels */
.lblerrorMsg
{
       text-align: right;
       font-size: large;
       color: red;
       font-style: italic;
}
body{
    font-family: 'Lucida Sans';
}
form{
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}
header{
    background-color: #4d9900;
    padding: 10px;
    margin-top: -20px;
    height: 150px;
}

h1{
    color: white;
	margin-left: 60px;
}
p{
    color: white;
	margin-left: 60px;
}

input[type=text], select {
    padding: 12px 20px;
    margin: 5px 0;
    display: block;
    width: 50%;
    border: 2px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=tel], select {
    padding: 12px 20px;
    margin: 5px 0;
    display: block;
    width: 50%;
    border: 2px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
textarea {
  margin: 0px 0;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  width: 50%;
  resize: none;
}
input[type=password], select {
    padding: 12px 20px;
    margin: 5px 0;
    display: block;
    width: 50%;
    border: 2px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
input[type=email], select {
    padding: 12px 20px;
    margin: 5px 0;
    display: block;
    border: 2px solid #ccc;
    width: 50%;
    border-radius: 4px;
    box-sizing: border-box;
}
button {
    background-color:blue;
    color: white;
    width: 150px;
    font-size: 20px;
    padding: 14px 20px;
    text-align: center;
    font-family: 'Lucida Sans';
    margin: 10px 0 10px 10px ;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

  



