body {
    font-family: 'Lucida Sans';
    background-color: #f2f2f2;
}
header{
    background-color: lightblue;
}
header img {
    float: left;
    border: 2px solid black;
}
header h2 {
	text-indent: 30px;
}
header p {
	text-align: right;
}
header hr {
    height:2px;
    border-width:3;
    color: black;
    background-color:black;
}
.Logout {
    text-align: right;
}
th, td, p, input {
    font:14px Verdana;
}
table, th, td {
    border: solid 3px black;
    border-collapse: collapse;
    padding: 2px 3px;
    text-align: center;
}
th {
    font-weight:bold;
    height: 50px;
}
table {
    width: 100%;
  }
td {
    height: 50px;
    vertical-align: middle;
}
/*Button {
    width: 11%;
    float: right;
    background-color:blue;
    color: white;
    padding: 14px 20px;
    margin: 8px 45px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }*/
  Button {
    background-color:blue;
    color: white;
    width: 10vw;
    font-size: 20px;
    padding: 14px 20px;
    text-align: center;
    font-family: 'Lucida Sans';
    margin: 1vw 88vw ;
    border: none;
    border-radius: 10px;
    cursor: pointer;
  }
span {
     word-spacing: 25vw;
}